.app-header {
    position: relative;
    .logo {
        position: absolute;
        top: 0px;
        left: 8px;
        display: inline-block;
        width: auto;
        height: 100%;

        img {
            width: auto;
            height: 100%;
        }
    }

    .app-name {
        font-weight: 400;
        font-family: 'Roboto Mono', 'Roboto', sans-serif;
        position: absolute;
        top: 50%;
        left: 56px;
        transform: translate(0, -50%);
    }

    .logout-btn {
        position: absolute;
        top: 50%;
        right: 6px;
        transform: translate(0, -50%);
    }
}

.mantine-AppShell-main {
    height: calc(100vh - 48px);
    padding-top: 16px;
    min-height: 0px;
}