.landing-main {
    background-color: var(--mantine-color-dark-8);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .logo {
        width: 50%;
        height: auto;
    }
}